pandas
geopandas
sqlalchemy
rtree
google-auth
google-api-python-client
google-generativeai
fiona
python-dotenv 
gspread
python-docx

pip install pandas geopandas sqlalchemy rtree google-auth google-api-python-client google-generativeai fiona python-dotenv gspread python-docx
